.nadpis{
    width: 104%;
    background-color: rgb(141 153 174);
    margin-top: -8px;
    margin-left: -8px;
    height: 80px;
    font-size: 300%;
}
.sidebar{
    background-color: rgb(43 45 66);
    color: white;
    height: 1000px;
    width: 100px;
    padding: 10px;
    margin-top: -32px;
    margin-left: -8px;
    font-family: sans-serif;
}
.content{
    margin-top: -1035px;
    margin-left: 130px;
    font-family: sans-serif;;
}